
 * {
	 box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
html{
}
.flex{
	display: flex;
	flex-wrap: wrap;
}
body {
	margin: 8px !important;
    background: linear-gradient(37deg, #F3DDBD 4%, #748AA3 94%);
    background: -moz-linear-gradient(37deg, #F3DDBD 4%, #748AA3 94%);
    background: -webkit-linear-gradient(37deg, #F3DDBD 4%, #748AA3 94%);
    background: -o-linear-gradient(37deg, #F3DDBD 4%, #748AA3 94%);
	width: 100vw;
	overflow-x: hidden;
}
/* header */
.navbarItem2{
    font-weight: 500;
}
.head-navbarItem{
    color: #fffaed;
}

 .parallax {
	 perspective: 300px;
	 height: 100vh;
	 overflow-x: hidden;
	 overflow-y: auto;
	 position: absolute;
	 top: 0;
	 left: 50%;
	 right: 0;
	 bottom: 0;
	 margin-left: -780px;
	 z-index: -3;
}
 .parallax__layer {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
}
 .parallax__layer img {
	 display: block;
	 position: absolute;
	 bottom: 0;
}
 .parallax__cover {
	 background-color: #54676E;
	 display: block;
	 position: absolute;
	 top: 200%;
	 left: 0;
	 right: 0;
	 min-height: 2100px;
	 z-index: 1;
	 
}
 .parallax__layer__0 {
	 transform: translateZ(-550px) scale(2.3) translateX(-180px)translateY(-70px);
     /* width: 100vw; */
}
.parallax__layer__0 img{
    margin-bottom: 300px;
    
}
 .parallax__layer__1 {
	 transform: translateZ(-500px) scale(3)translateY(-210px)translateX(140px);
     
}

 .parallax__layer__2 {
	 transform: translateZ(-400px) scale(2.1)translateX(330px);
     left: 80px;
     top: 430px;
     bottom: 40px;

}
 .parallax__layer__3 {
	 transform: translateZ(-350px) scale(2.5)translateY(400px);

}

 .parallax__layer__4 {
	 transform: translateZ(-350px) scale(2.5)translateY(-290px)translateX(1220px);

}

 .parallax__layer__5 {
	 transform: translateZ(-300px) scale(2)translateY(-240px);
     
}

 .parallax__layer__6 {
	 transform: translateZ(-200px) scale(1.8)translateY(380px)translateX(50px);

}

.parallax__layer__7 {
    transform: translateZ(-100px) scale(1.5)translateY(270px)translateX(1150px);
    
}

.parallax__layer__8 {
    transform: translateZ(-100px) scale(1.6)translateY(260px)translateX(130px);

}



section{
	margin-left: 50px;
}
.section1{
	color: #fffaed;
}
.forum-title h3{
	font-size: 28px !important;
	margin-left: 82.5%;
	margin-top: -12%;
}
.section2{
	margin-left: 10%;
	width:70%;
	display: flex;
	flex-wrap: wrap;
}
.search{
	width: 30%;
	height: 40px;
	border-top: solid #fffaed 1px;
	border-bottom: solid #fffaed 1px;
	margin-top: 5%;
	margin-left: 9%;
}
.link-right {
	width: 30px;
	height: 50%;
	border-right: solid #fffaed 1px;
	margin-top: 2%;
}

#back{
	font-size: 54px;
}
.card{
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin:80px 50px;
	display: flex;
	justify-content: center;
	cursor: pointer;
}
.card-inside{
	background-color: #fff;
	width: 250px;
	height: 250px;
	display: flex;
	justify-content: center;
	cursor: pointer;
	margin:auto;
	margin-bottom:9%;
}
.card-inside_link{
	text-align: center;
}
.card_title{
	height:70px;
	padding-top:10%;
}
.card-inside_title{
	color:#fff;
	height:70px;
	padding-top:10%;
}
.userinfo{
	margin-bottom:10%;
}
#addnew{
	align-items: center;
	font-size: 54px;
}
.card_link{
}
.card_img{
	object-fit:contain;
	width:240px;
	height: 250px;
}
.card_title{
	margin-top:-8%;
	color: #fffaed;
}
.card_info{
	margin-top: auto;
	color:#fffaed;
}
.arrow{
	color: #fffaed;
}
.arrow:hover{
	color: #e6ddc8;
}
.user_img{
	width: 50px;
}
.photo{
	display: flex;
}

.carde{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fffaed;
	width: 200px;
	height: 200px;
	margin: 10px;
}
.carde img{
	width: 180px;
	height: 180px;
	object-fit:contain;
}
.delete{
	text-align: center;
	position: absolute;
	cursor: pointer;
	color: red;
	font-weight: bold;
	width: 50px;
	height: 50px;
	font-size: 30px;
	margin-left: 150px;
	align-self: flex-start;
}
#addnewphoto{
	align-items: center;
	font-size: 54px;
}

.w3-display-container{
	margin-left:0;
	margin-top:10%;
	width:50%;	
}
.w3-badge{
	margin-top:10%;
}
.flex-change{
	width:50vw;
}
.userinfo{
	display:flex;
	margin-left: 10%;
}
.userinfo-text{
	margin-left:5%;
	color:#FFFAED;
}
.user_img{
	margin-top:35%;
}
.user_name{
	font-size:24px;
	margin-bottom: -3.5%;
}
.title{
	display:block;
	margin-top:-5%;
	margin-left: 10%;
}
.info{
	display:block;
	margin-left: 10%;
}

.title-input{
	width:100%;
	background-color:#54676E;
	border: #FFFAED solid 2px;
}
.title-text{
	color:#FFFAED;
	font-size: 24px;
    line-height: 28px;
}
.info-input{
	width:100%;
	height:100px;
	background-color:#54676E;
	border: #FFFAED solid 2px;
}
.photo{
	display:block;
	margin-left: 10%;
}
.carde{
	margin-left:0;
}
.location{
	display:block;
	margin-left: 10%;
}
.location-input{
	width:100%;
	background-color:#54676E;
	border: #FFFAED solid 2px;
}
.submit_button{
	width: 170px;
	height: 55px;
	background-color: #fffaed;
	border-radius: 30px;
	color: #3C4522;
	text-align: center;
	line-height: 55px;
	font-size: 16px;
	cursor: pointer;
	margin-top:10%;
	margin-left:77%;
	margin-right:0;
}
.submit_button:hover{
	background-color: #e6ddc8;
}
.authorname{
	color: white;
	font-size: 24px;
	margin-left: 50px;
}
@media (max-width: 2000px) {
	.section2{
		margin-left: 10%;
		width:70%;
		/* display: flex; */
		flex-wrap: wrap;
	}
}
@media (max-width: 1200px) {
	.section2{
		margin-left: 30%;
		width:60%;
		/* display: flex; */
		flex-wrap: wrap;
	}
	
}
@media (max-width: 770px) {
	.section2{
		margin-left: 50%;
		width:30%;
		/* display: flex; */
		flex-wrap: wrap;
	}
	
}
@media (max-width: 480px) {
	.section2{
		margin-left: 60%;
		width:40%;
		/* display: flex; */
		flex-wrap: wrap;
	}
	
}