
 * {
	 box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
html{
}
body {
	width: 100vw;

	overflow-x: hidden;
	font-family: 'Noto Sans TC', sans-serif;
}
/* header */
.navbarItem3{
    font-weight: 500!important;
}
.head-navbarItem{
    color: #fffaed!important;
}

 .parallax {
	 perspective: 300px;
	 height: 100vh;
	 overflow-x: hidden;
	 overflow-y: auto;
	 position: absolute;
	 top: 0;
	 left: 50%;
	 right: 0;
	 bottom: 0;
	 margin-left: -780px;
	 z-index: -3;
	 background: linear-gradient(74deg, #E9F3FA 0%, #00ACE6 100%);
	 background: -moz-linear-gradient(74deg, #E9F3FA 0%, #00ACE6 100%);
	 background: -webkit-linear-gradient(74deg, #E9F3FA 0%, #00ACE6 100%);
	 background: -o-linear-gradient(74deg, #E9F3FA 0%, #00ACE6 100%);
}
 .parallax__layer {
	 position: absolute;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
}
 .parallax__layer img {
	 display: block;
	 position: absolute;
	 bottom: 0;
}
.parallax__cover_r{
	background-color: #7dc6c6;
	display: block;
	position: absolute;
	top: 135%;
	left: 50%;
	right: 0;
	height: 130px;
	z-index: 0;
}
 .parallax__cover {
	 background-color: #7dc6c6;
	 display: block;
	 position: absolute;
	 top: 150%;
	 padding-top: 80px;
	 left: 0;
	 right: 0;
	 min-height: 2000px;
	 z-index: 0;

	 
}
 .parallax__layer__0 {
	 transform: translateZ(-550px) scale(3.2) translateX(10px)translateY(200px);
     /* width: 100vw; */
}
.parallax__layer__0 img{
    margin-bottom: 500px;
    
}
 .parallax__layer__1 {
	 transform: translateZ(-500px) scale(3)translateY(-210px)translateX(300px);
     
}

 .parallax__layer__2 {
	 transform: translateZ(-400px) scale(2.8)translateY(110px) translateX(40px);


}
 .parallax__layer__3 {
	 transform: translateZ(-350px) scale(2.8)translateY(70px)translateX(900px);

}

 .parallax__layer__4 {
	 transform: translateZ(-300px) scale(2)translateY(350px)translateX(0px);

}

 .parallax__layer__5 {
	 transform: translateZ(-100px) scale(1.5)translateY(200px) translateX(620px);
     
}

 .parallax__layer__6 {
	 transform: translateZ(-50px) scale(1.2)translateY(330px)translateX(450px);

}

.parallax__layer__7 {
    transform: translateZ(0px) scale(1.2)translateY(280px)translateX(100px);
    
}

.section1{
	color: #fffaed;
	margin-top: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.game-title h1 {
	/* margin-top: 10%;
	font-size: 28px;
	margin-left: 82.5%; */
	font-size: 48px!important;
	font-weight: 550!important;
}
.game-section-1{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 1070px;
}
.game-text-area{
	
}
.game-text-1{
	font-size: 36px;
	margin-top: 80px;
}
.game-text-2{
	width: 800px;
	font-size: 18px;
	margin-top: 60px;

}
.game-section-2{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	
}
.game-box{
	background: rgba(197, 197, 197, 0.596);
	
	height: 600px;
	width: 1070px;
	position: relative;
	border: #E9F3FA 3px solid;
}
.game-box-a{
	background-image: url(../image/game/森林.png);
	width: 100%;
	height: 100%;
	background-size: cover;
}
.gameimg{
	position: absolute;
	left: 0;
	top: 0;
	cursor: pointer;
	transition: all 0.1s ease-out
}
.gameimg:hover{
	transform: scale(1.2);
}
.img01{
left: 80px;
top: 160px;
}
.img02{
	left: 900px;
	top: 280px;
}
.img03{
	left: 700px;
	top: 70px;
}
.modalself{
	position: absolute;
	left: 0;
	right: 0;
}
/* .modalself-box{
	z-index: 6;
} */
.modal-backdrop{
	/* position: absolute!important;
	height: 600px!important;
	width: 1070px!important; */
	display: none!important;
	
}
.modal-header{
	position: relative;
}
.modalcolor-h{
	background-color: #7dc6c6!important;
}
.close{
	position: absolute;
	right: 20px;
	top: 20%;
}
.modal-text01{
	color: #46443f!important;
}

.modal-title{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title-text{
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 5px;
}
.subtitle-text{
	font-size: 20px;
}
.modal-body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btn-item{
	background: rgb(241, 143, 50);
	height: 50px;
	width: 300px;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
	font-weight: 400;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
}
.modalcolor-fail{
	background: rgb(241, 88, 50);
}
.modal-text-fail{
	color: white;
}
.modal-sus{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.modal-text-sus{
	width: 80%;
	font-size: 20px;
	text-align: center;
}
.check-circle{
	width: 60px;
	height: 60px;
	position: absolute;
	z-index: 5;
}
.circle-1-1-1{
	left: 110px;
	top: 280px;
	display: none;
	
}
.circle-view{
	display: block;
}