@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500&display=swap');
body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	letter-spacing: 0.11em;
}
/* header */
.head-navbar{
    display:flex;
    position:absolute;
    margin-top:1.5%;
    right:3%;
    width:30%;
    justify-content: space-around;
}
.head-navbarItem{
    position: relative;
    z-index:5;
    text-decoration: none;
    font-size:18px;
    margin-right:3%;
    text-align: center;
    cursor: pointer;
}
.head-navbarItem:hover{
	font-weight: 500;
}
/* scroll */
.scroll-down{
	position: absolute;
	left: 48%;
	top: 80%;
	z-index: 4;
}
.scroll-text{
	color: aliceblue;
	font-size: 18px;
	font-weight: bold;
}
.scroll-img{
	height: 50px;
	width: 50px;
	margin-left: 12%;
}



/* footer */
#page_top {
	/* display: none; */
    position: fixed;
	width: 10%;
    right: 2%;
    bottom: 10%;
    z-index: 5000;
}
.footer-line{
	width: 80%;
	height: 3px;
	border-top: solid #fffaed 3px;
	margin: auto;
	margin-top: 15%;
}
.resources-title{
	font-weight: bold;
	font-size: 16px;
	margin-left: -3%;
}
.footer-text{
	color: #FFFAED;
	margin-left: 17.5%;
	margin-top: 2%;
	display: flex;
}
.related-resources ul li {
	list-style-type:none;
	line-height: 30px;
	font-size: 14px;
	margin-left: -22%;
}
.related-resources ul li a{
	text-decoration: none;
	color: #FFFAED;
}
.related-resources ul li a:hover{
	color: #e6ddc8;
}
.contact-icon{
	display: flex;
	margin-left: 50%;
	margin-top: 3%;
}
.insta{
	cursor: pointer;
}
.insta:hover, .faceb:hover{
	color: #e6ddc8;
}
.faceb{
	cursor: pointer;
	margin-left: 60%;
}

/* RWD */
@media (max-width: 770px) {
	.footer-line{
		width: 50%;
		height: 1px;
		border-top: solid #fffaed 1px;
		margin-left: 42%;
		margin-top: 15%;
	}
	.resources-title{
		margin-top: 5%;
		font-size: 14px;
		margin-left: 20%;
		text-align: center;
	}
	.footer-text{
		/* margin-left: 17.5%; */
		margin-top: 2%;
		display: block;
	}
	.related-resources ul li {
		list-style-type:none;
		line-height: 30px;
		font-size: 14px;
		margin-left: 17%;
		text-align: center;
	}
	.contact-icon{
		display: flex;
		margin-top: 10%;
		margin-left: 53%;
	}
	.faceb{
		margin-left: 10%;
	}
}