@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;400;500&display=swap');
body {
	font-family: 'Noto Sans TC', sans-serif;
	font-weight: 300;
	letter-spacing: 0.11em;
}
/* header */
.header{
	display: flex;
}
.logo{
	margin-left: 2%;
}
.head-navbar{
    display:flex;
    position:absolute;
    margin-top:1.5%;
    right:3%;
    width:30%;
    justify-content: space-around;
}
.head-navbarItem{
    position: relative;
    z-index:5;
    text-decoration: none;
    font-size:18px;
    margin-right:3%;
    text-align: center;
    cursor: pointer;
}
.head-navbarItem:hover{
	font-weight: 500;
}
.navbarItem0{
	left: 0;
}
/* scroll */
.scroll-down{
	position: absolute;
	left: 48%;
	top: 80%;
	z-index: 4;
}
.scroll-text{
	color: aliceblue;
	font-size: 19px;
	font-weight: bold;
}
.scroll-img{
	height: 50px;
	width: 50px;
	margin-left: 11.5%;
}



/* footer */
#page_top {
	/* display: none; */
    position: fixed;
	width: 10%;
    right: 2%;
    bottom: 10%;
    z-index: 5000;
}
.footer-line{
	width: 80%;
	height: 3px;
	border-top: solid #fffaed 3px;
	margin: auto;
	margin-top: 15%;
}
.resources-title{
	font-weight: bold;
	font-size: 16px;
	margin-left: -3%;
}
.footer-text{
	color: #FFFAED;
	margin-left: 17.5%;
	margin-top: 2%;
	display: flex;
}
.related-resources ul li {
	list-style-type:none;
	line-height: 30px;
	font-size: 14px;
	margin-left: -22%;
}
.related-resources ul li a{
	text-decoration: none;
	color: #FFFAED;
}
.related-resources ul li a:hover{
	color: #e6ddc8;
}
.contact-icon{
	display: flex;
	margin-left: 50%;
	margin-top: 3%;
}
.insta{
	cursor: pointer;
}
.insta:hover, .faceb:hover{
	color: #e6ddc8;
}
.faceb{
	cursor: pointer;
	margin-left: 60%;
}
/* hamburger */
.hamburger{
	position:absolute;
	top:3%;
	right:5%;
}
.hamburger .line{
	width: 50px;
	height: 5px;
	background-color: #ecf0f1;
	display: block;
	margin: 8px auto;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  }
  
  .hamburger:hover{
	cursor: pointer;
  }
  #hamburger-6.is-active{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
  }
  
  #hamburger-6.is-active .line:nth-child(2){
	width: 0px;
  }
  
  #hamburger-6.is-active .line:nth-child(1),
  #hamburger-6.is-active .line:nth-child(3){
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
  }
  
  #hamburger-6.is-active .line:nth-child(1){
	-webkit-transform: translateY(13px);
	-ms-transform: translateY(13px);
	-o-transform: translateY(13px);
	transform: translateY(13px);
  }
  
  #hamburger-6.is-active .line:nth-child(3){
	-webkit-transform: translateY(-13px) rotate(90deg);
	-ms-transform: translateY(-13px) rotate(90deg);
	-o-transform: translateY(-13px) rotate(90deg);
	transform: translateY(-13px) rotate(90deg);
  }

/* RWD */
@media (max-width: 2000px) {
	.head-navbar{
		margin-top:1.5%;
		right:3%;
		transform: translate(0px, 0px);
	}
	.hamburger{
		display:none;
	}
	.rwd-navbar{
		display:none;
	}

}
@media (max-width: 770px) {
	.head-navbar{
		display:none;
	}
	.rwd-navbar{
		position:absolute;
		margin-top:1.5%;
		width:30%;
		justify-content: space-around;
		display:block;
		height:100vh;
		background-color: #e6ddc8;
		top:-2%;
		right:-30%;
	}
	.head-navbarItem{
		display:block;
		text-align: start;
		margin-top:15%;
		margin-left:10%;
	}
	.navbarItem1{
		margin-top:40%;
	}
	.footer-line{
		width: 50%;
		height: 1px;
		border-top: solid #fffaed 1px;
		margin-left: 42%;
		margin-top: 15%;
	}
	.resources-title{
		margin-top: 5%;
		font-size: 14px;
		margin-left: 20%;
		text-align: center;
	}
	.footer-text{
		/* margin-left: 17.5%; */
		margin-top: 2%;
		display: block;
	}
	.related-resources ul li {
		list-style-type:none;
		line-height: 30px;
		font-size: 14px;
		margin-left: 17%;
		text-align: center;
	}
	.contact-icon{
		display: flex;
		margin-top: 10%;
		margin-left: 53%;
	}
	.faceb{
		margin-left: 10%;
	}
	.scroll-down{
		position: absolute;
		left: 48%;
		top: 80%;
		z-index: 4;
	}
	.scroll-text{
		color: aliceblue;
		font-size: 19px;
		font-weight: bold;
	}
	.scroll-img{
		height: 40px;
		width: 40px;
		margin-left: 18%;
	}
	.hamburger{
		display:block;
	}
}