@import "compass/css3";
 * {
	 box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
html{
    width: 100vw;
}
body {
    background: linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
    background: -moz-linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
    background: -webkit-linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
    background: -o-linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
	width: 100vw;
	overflow-x: hidden;
    overflow-y: hidden;
}

.navbarItem4{
    font-weight: 500;
}
.head-navbarItem{
    color: #fffaed;
}
.login-img{
    width:100vw;
    position:absolute;
    left:0;
    top:0;
}
.login-title{
    position:absolute;
    right:12%;
    top:15%;
    color:#FFFAED;
    
}
.login-title-item{
    font-size:48px;
    font-weight:700;

}
.login_form{
    background-color: #414761;
    opacity: 80%;
    width:30%;
    height:70%;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;
}
.id_form,
.number_form{
    width:70%;
    margin:auto;
}
.id_form{
    margin-top:10%;
}
.form-label{
    color:#FFFAED;
    opacity: 1;

}
.form_notices{
    margin-left:15%;
}
.forget{
    color:#FFFAED;
}
.install{
    color:#FFFAED;
}
.log_btn{
    margin-left:33%;
    margin-top:20px;
}
.btn-primary{
    width:160px;
    height:55px;
    background-color: #FFFAED !important;
    opacity: 100% !important;
    color:#414761 !important;
    border:#414761 !important;
    border-radius: 30px !important;
    font-size: 32px ;
    font-family: 'Kosugi Maru', sans-serif;
}
.or-text{
    color:#FFFAED;
    text-align:center;
    margin-top:10px;
}
.google{
    font-size:15px !important;
}
.img{
    width: 100%;
    max-height: 100vh;
    object-fit:cover;
    object-position:0% 100%;
}