@import "compass/css3";
 * {
	 box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100&display=swap');
html{
    width: 100vw;
}
body {
    background: linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
    background: -moz-linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
    background: -webkit-linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
    background: -o-linear-gradient(33deg, #ECE88D 14%, #25B7DB 100%);
	width: 100vw;
	overflow-x: hidden;
    overflow-y: hidden;
}

.navbarItem4{
    font-weight: 500;
}
.head-navbarItem{
    color: #fffaed;
}
.login-img{
    width:100vw;
    position:absolute;
    left:0;
    top:0;
}
.login_form{
    background-color: aliceblue;
    border-radius: 20px;
    margin-left: 50%;
    margin-top: 10%;
    position: absolute;
}
.img{
    width: 100%;
    max-height: 100vh;
    object-fit:cover;
    object-position:0% 100%;
}